{% extends 'base.html' %}
{% block nav %}
{% endblock %}
{% block title %}
    <h2>Sign up</h2>
{% endblock %}
{% block login %}
{% endblock %}
{% block content %}
    {% if validlink %}
    <h1>Set a new password!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send me instructions</button>
    </form>
    {% else %}
        <p>
            {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        </p>
    {% endif %}
{% endblock %}
